body {
    font-family: "Source Code Pro", sans-serif;
    font-size:1em;
    overflow: hidden;;
}

body.mint {
  background-color: rgb(182,255,249);
  margin: 20px
  padding: 40px
}

div.home {
  width: 60%;
  margin-left: 0;
  margin-top: 0;
  padding: 0;
}

h2 {
  text-align: left;
  font-size:1em;
}

ht: auto;
}

div.fixedhowtohide {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px solid #73AD21;
}

body.image {
  background-image: url("emilyroderick_georginarowlands2.png");
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
  margin: 0px
      position: fixed;
}
